body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Zen Kurenaido', 'serif';
    background-color:  rgb(192, 176, 192);
    color: rgb(11, 9, 44);
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
